header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 30px;
}

body {
  padding-top: 80px;
}

nav {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  &[data-testid='active-category-link'] {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
    padding-bottom: 10px;
  }
  margin-top: 10px;
}

button[data-testid='cart-btn'] {
  position: relative;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 50px;
  span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #5ece7b;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
}
